body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D8D0D0;
}

header {

    padding: 30px;
    position: fixed; /* Fijar el encabezado en su posición */
    top: 0; /* Colocar el encabezado en la parte superior */
    width: 100%; /* Ancho completo del encabezado */
    background-color: #F7F7F7; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    height: 15px;

}

.logo{
    
    padding: 0px;
    height: 40px;
    border-color: red;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 20px;
    right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

#inicio {

    margin-top: 80px;
    
}

#servicios{

    margin-top: 30px;
}

.ajuste_imagen{

    width: 98%  ; /* La imagen no será más grande que el ancho del contenedor */
    height: 310px; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Para evitar espacios no deseados debajo de la imagen */
    margin: 10px;
    border-color: #000000;
    border-radius: 10px;


}

h2{
    font-family: sans-serif;
    text-align: center;

}
h3{
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6px;
}

form {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 400px;
    text-align: center;
}

button {
    background-color: #022ADE;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container2 {
            margin: 20px auto;
            width: 80%;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            overflow: hidden;
        }
        table {
            border-collapse: collapse;
            width: 100%;

        }
        th, td {
            

            padding: 12px 15px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #CBC6C6;
            color: black;
        }
         tr:nth-child(even) {
            background-color: #f2f2f2;
        }

button:hover {
    background-color: #0000ff ;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
